body {
    font-family: tahoma;
    /*background-color: #AAB4DC;*/
    background: #f7f7f7;
}

.ticket {
    background: #ffffff;
    margin: 2% auto;
    border-radius: 30px;
}

.title {
    margin-top: 1em;
}

.form-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
